attrs
certifi
charset-normalizer
exceptiongroup
h11
idna
outcome
packaging
Pillow
PySocks
python-dotenv
requests==2.31.0
selenium==4.15.2
sniffio==1.3.0
sortedcontainers==2.4.0
trio==0.23.1
trio-websocket==0.11.1
urllib3==2.0.7
watchdog==4.0.0
webdriver-manager==4.0.1
wsproto
